# Xcode
.DS_Store
xcuserdata/
*.xcworkspace/
DerivedData/
build/

# CocoaPods
Pods/
*.xcworkspace
Podfile.lock

# Swift Package Manager
.build/
.swiftpm/

# Other
*.log
*.xcarchive
*.ipa
*.dSYM.zip
*.dSYM
